# Ignore Python compiled files
*.pyc

# Ignore virtual environment
myenv/
venv/




# ignore dataset


# Ignore directories not needed in the repository
__pycache__/
node_modules/  # If you use Node.js

# System files

